/*General Styling*/
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
  body{
      margin: 0px;
      padding: 0px;
      font-family: "Times New Roman", Times, serif;
  }

h1{
    font-size: 2.1em;
    padding: 5px;
}

h2{
    font-size: 1.6em;
    padding: 5px;
}

h3{
   font-size: 1.35em; 
   padding: 5px;
}

p{
    font-size: 1.1em;
    padding: 5px;
    line-height: 1.3em;
}

a, a:visited{
    color: #a6a6a6;
    text-decoration: none;
    font-size: 1.1em;
    transition-duration: 0.5s;
}

a:hover, a:active{
    color: #ff5722;
}

img{
  margin: 20px;
  width: 300px;
  box-shadow: 0px 0px 4px 4px #ff5722;
}

li{
  padding: 5px;
  list-style-type: none;
  font-size: 1.1em;
}

  /*Wraps body so footer always at bottom if not enough content.
  270px is footer height*/
  .wrapper{
    min-height: calc(100vh - 270px);
  }

  /*Utilities*/
  .flex{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .row{
      flex-direction: row;
  }
  
  /*Nav*/
  nav{
      background-color: #000000;
      padding: 10px 20px 10px 20px;
      margin-bottom: 30px;
      overflow: auto;
      box-shadow: 0px 0px 4px 4px #ff5722;
  }

    /*Logo & branding*/
  .branding{
      display: inline-block;
      height: 80px;
  }

  .branding p{
    color: #ff5722;
    font-size: 1.0em;
    padding: 0px;
  }

  .branding a{
      color: #ffffff;
      text-decoration: none;
      font-size: 1.8em;
  }

  .branding p a{
    color: #ff5722;
    font-size: 1.0em;
    padding: 0px;
    text-decoration: underline;
  }

    /*Large Device Menu*/
  .menuLinks{
    display: none;
    float: right;
  }

     /*Mobile Menu Button*/
  .mobileMenuBtn{
      float: right;
      height: 80px;
      padding-bottom: 7px;
  }

  .mobileMenuLn{
      width: 30px;
      height: 3px;
      background-color: #ff5722;
      margin-top: 6px;
  }

    /*Menu Animation*/
  .animate{
      animation-name: animate;
      animation-duration: 1.0s;
  }

  .rotateDown45{
      transform:
          rotate(45deg)
          translate(6px, 6px);
  }

  .rotateUp45{
      transform: rotate(-45deg);   
  }

  .dissappear{
      display: none;
  }

  @keyframes animate{
     10% {transform: scaleX(-1)};
  }

    /*Mobile Popup Menu*/
  .popupMenu{
      display: none;
      right: 0;
      position: absolute;
      z-index: 1;
      width: 50%;
      max-width: 300px;
      background-color: #a6a6a6;
      box-shadow: 0px 0px 16px 8px rgba(0,0,0,0.2);
      margin-top: -50px;   
  }

  .popupMenu a{
      color: black;
      display: block;
  }

  .popupMenu li{
      padding: 10px 0px 10px 30px;
      transition: 0.7s;
  }

  .popupMenu li:hover{
      background-color: gray;
  }

  /*Body Content*/
  .bodySection{
      margin: 0px 30px 30px 30px;
  }

  .bodySection h1, h2, h3{
    text-align: center;
  }

  /*Footer*/
  footer{
      height: 300px;
      background-color: #000000;
      color: #a6a6a6;
      padding: 20px;
      text-align: center;
      box-shadow: 0px 0px 30px #ff5722;
  }

  footer ul{
      padding-bottom: 20px;
  }

  footer .companyName{
      color: #ffffff;
  }

  footer .webDevName{
      color: #ff5722;
      text-decoration: underline;
  }

  footer p{
      margin: 10px;
  }

  .active{
    text-decoration: underline;
  }

/*Home Page Specific*/
  .companyNameHeader{
    text-shadow: 1px 1px #ff5722;
  }

  .companyNameHeader h1{
    font-size: 2.5m;
  }

  .companyNameHeader h3{
    font-size: 1.5em;
  }

 /*About Page Specific*/
  .aboutImage{
      border-radius: 100px;
      box-shadow: 0px 0px 4px 4px #ff5722;
  }

  .staffCard{
    margin: 20px;
  }

  .staffPic Img{
    width: 200px;
  }

  .reviewStars{
    margin-top: 20px;
  }

  .reviewText{
    color: black;
  }

  .reviewSolicit{
    margin: 30px 0px 20px 0px;
  }

  .reviewSolicit a{
 font-size: 1.1em;
 text-decoration: underline;
  }

 /*Services Page Specific*/
  .servicesTable, th, td, tr{
    font-size: 1.1em;
    border: 1px solid #c7c6c6;
    border-collapse: collapse;
    margin: 20px;
  }

  .servicesTable th,td{
      padding: 5px;
  }

  .servicesTable th{
      background-color: #ff5722;
      color: white;
  }

  .servicesTable .tableStripe{
      background-color: #edf1f7;
  }

  /*Contact Page Specific*/
  .contactListContainer{
      align-items: flex-start;
  }

  .contactLink, .contactLink:visited{
      color: #000000;
  }

  .contactLink:hover, .contactLink:active{
    color: #000000;
    text-decoration: underline;
  } 

  .contactSVG{
    margin: 10px;
  }

  .hoursList{
    margin: 20px;
  }

  ul{
    margin: 0px;
    padding: 0px;
  }

  .hoursTable, th, td{
    border-collapse: collapse;
    border: none;
    margin: 20px;
  }
  
  .hoursTable th, .hoursTable td{
      padding: 5px;
      border: none;
  }

  .scheduleButton, .scheduleButton:visited{
    margin: 10px;
    border: 1px solid #000000;
    padding: 5px;
    background-color: #ff5722;
    color: #ffffff;
    transition: 0s;
  }

  .scheduleButton:hover, .scheduleButton:active{  
    color: #ffffff;
    background-color: #fa6f45;
  }


  /*Media Queries*/

  /*Small Device*/
  @media only screen and (min-width: 280px) and (max-width: 320px){
    .branding a{
        font-size: 1.5em;
    }

    .contactContainer{ /*Contact Page*/
        flex-direction: column;
    }

    .contactListContainer{ /*Contact Page*/
        align-items: center;
        justify-content: center;
    }

    .contactLink{ /*Contact Page*/
        font-size: 1.0em;
    }

    img{
        width: 200px;
    }

    .servicesTable, th, td, tr{
        font-size: 1.0em;
    }
}

/*Tablet*/
@media only screen and (min-width: 768px) {
    p{
        max-width: 500px;
    }

    .headerSection{
        flex-direction: row;
    }
    img{
        width: 400px;
    }

    .companyHeader{ /*Home Page*/
        flex-direction: row;
    }

    .companyNameHeader h1{
        font-size: 2.8em;
    }

    .companyNameHeader h3{
        font-size: 1.8em;
    }

    .staffPic{  /*About Page*/
        flex-direction: row;
    }

    .staffPic Img{
        width: 300px;
        border-radius: 50%;
    }
}


/*Computer*/
@media only screen and (min-width: 992px) {
    .branding{
        height: 80px;
    }

    .branding p{
      font-size: 1.2em;;
    }

    .branding a{
        font-size: 2.0em;
    }

    .branding p a{
      font-size: 1.0.2em;
    }

    p{
        max-width: 700px;
        font-size: 1.2em;
    }

    .mobileMenuBtn{
        display: none;
    }

    .popupMenu{
        display: none;
        z-index: -1;
        background-color:#ffffff;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    }
    
    .popupMenu a{ 
        display: none;
    }

    .menuLinks{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;  
        height: 80px;   
    }

    .menuLinks li{
        display: inline;
        padding-left: 50px;
    }

    .staffCard{  /*About Page*/
        flex-direction: row;
    }

    .companyNameHeader h1{
        font-size: 3.5em;
    }

    .companyNameHeader h3{
        font-size: 2.2em;
    }

    .staffPic{ 
        margin: 30px;
    }

    .reviewSolicit a{
        font-size: 1.2em;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
