/*General Styling*/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 1.1em;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  padding: 5px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 2.5em;
  text-shadow: 1px 1px #ff5722;
}

h2 {
  font-size: 1.6em;
  padding: 5px;
}

h3 {
  font-size: 1.5em;
  text-shadow: 1px 1px #ff5722;
  margin: 2.5rem 1rem 0rem 1rem;
}

p {
  font-size: 1.1em;
  line-height: 1.3em;
  font-family: 'Cardo', serif;
  margin: 1rem;
}

a {
  color: #e7e7e7;
  text-decoration: none;
  font-size: 1.1em;
  transition-duration: 0.5s;
  cursor: pointer;
}

a:hover,a:active {
  color: #ff5722;
}

button {
  cursor: pointer;
}

img {
  margin: 20px;
  width: 300px;
  min-height: 40px;
  box-shadow: 0px 0px 4px 4px #ff5722;
}

li {
  padding: 5px;
  list-style-type: none;
  font-size: 1.1em;
}

/*Wraps body so footer always at bottom if not enough content.
  270px is footer height*/
.wrapper {
  min-height: calc(100vh - 600px);
}

/*Utilities*/
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row;
}

.active {
  text-decoration: underline;
  text-decoration-color: #ff5722;
}

.textContainer a {
  color: black;
  text-decoration: underline;
}

/*Nav*/
nav {
  width: 100vw;
  top: 0;
  background-color: #000000;
  padding: 10px 40px 10px 40px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 4px 4px #ff5722;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popupBtn {
  background-color: transparent;
  border: none;
}

nav p {
  display: none;
}

#navContactText {
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0;
  text-align: center;
  color: white;
}

#navContactText svg {
  margin-right: 10px;
}

/*Logo & branding*/
nav img {
  width: 175px;
  margin: 0;
}

/*Large Device Menu*/
.menuLinks {
  display: none;
}

/*Mobile Menu Button*/
.mobileMenuBtn {
  height: 80px;
  padding-bottom: 7px;
  margin: 10px 20px 10px 10px;
}

.mobileMenuLn {
  width: 30px;
  height: 3px;
  background-color: #ff5722;
  margin-top: 6px;
}

/*Mobile Popup Menu*/
.popupContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  max-width: 0px;
  top: 0;
}

.popupOverlay {
  flex-grow: 100;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.popupMenu {
  overflow-y: auto;
  height: 100vh;
  width: 225px;
  max-width: 0px;
  background-color: #818181;
  transition: max-width 0.4s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popupMenu button {
  align-self: start;
  margin-bottom: 30px;
}

.popupMenu img {
  width: 100%;
  margin: -50px 0 5px 0;
  padding: 0;
}

.popupMenu a {
  color: white;
  display: block;
  font-size: 1.4rem;
  margin-top: 2rem;
  text-align: center;
}



/*Body Content*/
.bodySection {
  margin: 0px 30px 30px 30px;
}

.bodySection h1,h2,h3 {
  text-align: left;
}

/*Footer*/
footer {
  background-color: #000000;
  color: #e7e7e7;
  padding: 10px 10px 20px 10px;
  text-align: center;
  box-shadow: 0px 0px 30px #ff5722;
  margin-top: 5rem;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.footerContainer ul {
  margin: 1rem;
}

.footerContainer a {
  font-size: 1.2em;
}

footer ul {
  padding-bottom: 20px;
}

footer .webDevName {
  color: #ff5722;
  text-decoration: underline;
}

footer p {
  margin: 10px;
  text-align: center;
}

/*Home Page Specific*/
.heroSection h1, h3{
  text-align: center;
}

.heroSection h3 {
  margin-top: 0.5rem;
}

.estDate{
  font-family: 'Dancing Script', cursive;
  text-shadow: none;
  margin: 0;
}

/*About Page Specific*/
.staffPic {
  flex-wrap: wrap;
}

.staffPic h2 {
  text-align: center;
}

.staffPic img {
  max-width: 40rem;
}

.reviewStars {
  margin: 40px 0 10px 0;
}

.reviewText {
  color: black;
}

.reviewSolicit {
  margin: 30px 5px 20px 5px;
}

.reviewSolicit a {
  font-size: 1.1em;
  text-decoration: underline;
  margin: 0;
}

/*Services Page Specific*/
.servicesTable, th, td, tr {
  font-size: 1.1em;
  border: 1px solid #c7c6c6;
  border-collapse: collapse;
  margin: 20px;
}

.servicesTable th,
td {
  padding: 5px;
}

.servicesTable th {
  background-color: #ff5722;
  color: white;
}

.servicesTable .tableStripe {
  background-color: #edf1f7;
}

/*Contact Page Specific*/
.contactListContainer {
  align-items: flex-start;
}

.contactContainer {
  padding: 0;
  margin: 0;
}

.contactLink, .contactLink:visited {
  color: #000000;
}

.contactLink:hover,
.contactLink:active {
  color: #000000;
  text-decoration: underline;
}

.contactSVG {
  margin: 10px;
}

.hoursList {
  margin: 20px;
}

ul {
  margin: 0px;
  padding: 0px;
}

.hoursTable,
th,
td {
  border-collapse: collapse;
  border: none;
  margin: 20px;
}

.hoursTable th,
.hoursTable td {
  padding: 5px;
  border: none;
}

.scheduleButton,
.scheduleButton:visited {
  font-size: 1.2rem;
  margin: 30px 10px 10px 10px;
  border: 1px solid #000000;
  padding: 15px 10px 14px 10px;
  width: 90%;
  max-width: 325px;
  text-align: center;
  background-color: #ff5722;
  color: #ffffff;
  border-radius: 5px;
}

.scheduleButton:hover,
.scheduleButton:active {
  color: #ffffff;
  background-color: #fa6f45;
}

.scheduleButton svg {
  margin-right: 1rem;
}

/*Media Queries*/

/*Small Device*/
@media only screen and (min-width: 280px) and (max-width: 320px) {
  nav img {
    width: 150px;
  }

  .branding a {
    font-size: 1.5em;
  }

  .contactContainer {
    /*Contact Page*/
    flex-direction: column;
  }

  .contactListContainer {
    /*Contact Page*/
    align-items: center;
    justify-content: center;
  }

  .contactLink {
    /*Contact Page*/
    font-size: 1em;
  }

  img {
    width: 200px;
  }

  .servicesTable,
  th,
  td,
  tr {
    font-size: 1em;
  }
}

/*Tablet*/
@media only screen and (min-width: 768px) {
  .footerContainer ul {
    margin: 1rem 5rem 1rem 5rem;
  }

  nav img {
    width: 200px;
  }

  p {
    max-width: 500px;
  }

  .headerSection {
    flex-direction: row;
  }

  .heroSection img {
    width: 40rem;
  }

  .companyNameHeader h1 {
    font-size: 2.8em;
  }

  .companyNameHeader h3 {
    font-size: 1.8em;
  }

  /*About Page*/
  .staffPic {
    flex-direction: row;
  }

  .staffPic Img {
    width: 300px;
  }

  .staffPic p {
    width: 700px;
    max-width: 90%;
  }
}

/*Computer*/
@media only screen and (min-width: 992px) {
  nav img {
    width: 250px;
  }

  p {
    max-width: 700px;
    font-size: 1.2em;
  }

  .mobileMenuBtn {
    display: none;
  }

  .popupContainer {
    display: none;
    z-index: -1;
    background-color: #ffffff;
  }

  .menuLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    height: 80px;
  }

  .menuLinks li {
    display: inline;
    padding-left: 50px;
  }

  /*Home Page*/
  .heroSection h1 {
    font-size: 3.5em;
  }

  .heroSection h3 {
    font-size: 2.2em;
  }

  /*About Page*/
  .staffPic {
    margin: 30px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  nav p {
    font-size: 1.5em;
    display: block;
    text-align: center;
    color: #e7e7e7;
    font-family: 'Roboto Mono', monospace;
  }
}
